USE [master]
GO
/****** Object:  Database [Remote_Alarms_Database]    Script Date: 4/10/2018 3:55:35 PM ******/
CREATE DATABASE [Remote_Alarms_Database]
GO
USE [Remote_Alarms_Database]
GO
/****** Object:  StoredProcedure [dbo].[Company_Delete]    Script Date: 4/10/2018 3:55:36 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Company_Delete]

@userauthentivation  nvarchar(50)    ,
@passwordauthentication nvarchar(50),
@userid int,
@ID int

as 
begin
IF EXISTS(SELECT * FROM Users WHERE Username = @userauthentivation and Password = @passwordauthentication)
/*CompanyDetails*/
IF EXISTS(SELECT * FROM Company WHERE U_id = @userid and ID =@ID)
begin
delete from IncomingAlarms where Company_ID = @ID;
delete from Company where ID = @ID;
end
else
begin
print 'Not Exist!'
end
else
begin
print 'User Not Authorized!' 
end
END


GO
/****** Object:  StoredProcedure [dbo].[Company_Insert]    Script Date: 4/10/2018 3:55:36 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Company_Insert]

@userauthentivation  nvarchar(50)    ,
@passwordauthentication nvarchar(50),
@RadioID  int,
@U_id int,
@CompanyName nvarchar(1000),
@Latitude  float,
@Longitude float,
@ContactPersonName nvarchar(1000),
@LandLinePhoneNumber nvarchar(50),
@MobileNumber nvarchar (50),
@AddressLineOne nvarchar (1000),
@AddressLineTwo nvarchar (1000),
@CompanyType nvarchar(100),
@SystemCheck int,
@SystemCheckedDate datetime



AS
 
begin
IF EXISTS(SELECT * FROM Users WHERE Username = @userauthentivation and Password = @passwordauthentication)
begin
insert into Company(RadioID,U_id,CompanyName,Latitude,Longitude,ContactPersonName,LandLinePhoneNumber,MobileNumber,AddressLineOne,AddressLineTwo,CompanyType,SystemCheck,SystemCheckedDate)
values (@RadioID,@U_id,@CompanyName,@Latitude,@Longitude,@ContactPersonName,@LandLinePhoneNumber,@MobileNumber,@AddressLineOne,@AddressLineTwo,@CompanyType,@SystemCheck,@SystemCheckedDate);
end
else
begin
print 'User Not Authorized!'
end

end


GO
/****** Object:  StoredProcedure [dbo].[Company_Select]    Script Date: 4/10/2018 3:55:36 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Company_Select]
@userauthentivation  nvarchar(50)    ,
@passwordauthentication nvarchar(50),
@userid  int ,
@Radio_id int


as 
begin
IF EXISTS(SELECT * FROM Users WHERE Username = @userauthentivation and Password = @passwordauthentication)
begin
IF EXISTS(SELECT * FROM Company WHERE U_id = @userid and RadioID = @Radio_id)
begin
select * from Company where RadioID = @Radio_id;
end
else
begin
print 'Not Exist'
end
end
else
begin
print 'User Not Authorized!'
end
end



GO
/****** Object:  StoredProcedure [dbo].[Company_Status_Update]    Script Date: 4/10/2018 3:55:36 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Company_Status_Update]

@userauthentivation  nvarchar(50)    ,
@passwordauthentication nvarchar(50),
@Online_RadioIDs  nvarchar(max),
@Offline_RadioIDs  nvarchar(max),
@SystemCheckedDate datetime

AS
 
begin
IF EXISTS(SELECT * FROM Users WHERE Username = @userauthentivation and Password = @passwordauthentication)
begin

declare @Online_List table (ID int);

while charindex(',',@Online_RadioIDs) > 0
begin
 insert into @Online_List (ID) values(left(@Online_RadioIDs,charindex(',',@Online_RadioIDs)-1))
 set @Online_RadioIDs = right(@Online_RadioIDs,len(@Online_RadioIDs)-charindex(',',@Online_RadioIDs))
end
 insert into @Online_List (ID) values(@Online_RadioIDs)


	update Company
	set 
	SystemCheck = 1,
	SystemCheckedDate =@SystemCheckedDate
	where RadioID in(Select ID from @Online_List) ;



declare @Offline_List table (ID int);

while charindex(',',@Offline_RadioIDs) > 0
begin
 insert into @Offline_List (ID) values(left(@Offline_RadioIDs,charindex(',',@Offline_RadioIDs)-1))
 set @Offline_RadioIDs = right(@Offline_RadioIDs,len(@Offline_RadioIDs)-charindex(',',@Offline_RadioIDs))
end
 insert into @Offline_List (ID) values(@Offline_RadioIDs)

	update Company
	set 
	SystemCheck = 0,
	SystemCheckedDate =@SystemCheckedDate
	where RadioID in(select Id from @Offline_List) ;

	end

end






GO
/****** Object:  StoredProcedure [dbo].[Company_Update]    Script Date: 4/10/2018 3:55:36 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Company_Update]

@userauthentivation  nvarchar(50)    ,
@passwordauthentication nvarchar(50),
@userid  int,
@ID int,
@RadioID  int,
@U_id int,
@CompanyName nvarchar(1000),
@Latitude  float,
@Longitude float,
@ContactPersonName nvarchar(1000),
@LandLinePhoneNumber nvarchar(50),
@MobileNumber nvarchar (50),
@AddressLineOne nvarchar (1000),
@AddressLineTwo nvarchar (1000),
@CompanyType nvarchar(100),
@SystemCheck int,
@SystemCheckedDate datetime

AS
 
begin
IF EXISTS(SELECT * FROM Users WHERE Username = @userauthentivation and Password = @passwordauthentication)
begin
IF EXISTS(SELECT * FROM Company WHERE U_id = @userid and ID = @ID)
begin
update Company
set RadioID =@RadioID,
U_id =@U_id,
CompanyName =@CompanyName,
Latitude =@Latitude,
Longitude =@Longitude,
ContactPersonName =@ContactPersonName,
LandLinePhoneNumber =@LandLinePhoneNumber,
MobileNumber =@MobileNumber,
AddressLineOne = @AddressLineOne,
AddressLineTwo =@AddressLineTwo,
CompanyType = @CompanyType,
SystemCheck = @SystemCheck,
SystemCheckedDate =@SystemCheckedDate
where ID = @ID;
end
else
begin
print 'Not Exist'
end
end
else
begin
print 'User Not Authorized!'
end
end






GO
/****** Object:  StoredProcedure [dbo].[IncomingAlarms_Delete]    Script Date: 4/10/2018 3:55:36 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[IncomingAlarms_Delete]

@userauthentivation  nvarchar(50)    ,
@passwordauthentication nvarchar(50),
@userid int,
@ID int

as 
begin
IF EXISTS(SELECT * FROM Users WHERE Username = @userauthentivation and Password = @passwordauthentication)
/*IncomingAlarms*/
--IF EXISTS(SELECT * FROM CompanyDetails_Backup WHERE U_id = @userid)
delete from IncomingAlarms where ID = @ID;
else
begin
print 'User Not Authorized!' 
end
END


GO
/****** Object:  StoredProcedure [dbo].[IncomingAlarms_DeleteAll]    Script Date: 4/10/2018 3:55:36 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IncomingAlarms_DeleteAll]

@userauthentivation  nvarchar(50)    ,
@passwordauthentication nvarchar(50),
@userid int,
@From_DateTime Datetime2(7),
@To_DateTime DateTime2(7)


AS
 BEGIN
	IF EXISTS(SELECT * FROM Users WHERE Username = @userauthentivation and Password = @passwordauthentication)
	BEGIN
	delete from IncomingAlarms where  CONVERT(DATE, DateReceived) between CONVERT(DATE, @From_DateTime) and CONVERT(DATE, @To_DateTime);
	delete from IncomingAlarms where  CONVERT(DATE, DateReceived) =  CONVERT(DATE, @From_DateTime) ;
	delete from IncomingAlarms where  CONVERT(DATE, DateReceived) = CONVERT(DATE, @To_DateTime) ;
	END
END



GO
/****** Object:  StoredProcedure [dbo].[IncomingAlarms_Insert]    Script Date: 4/10/2018 3:55:36 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IncomingAlarms_Insert]

@userauthentivation  nvarchar(50)    ,
@passwordauthentication nvarchar(50),
@Company_ID int,
@RadioID  int,
@AlarmType nvarchar(50),
@Latitude float ,
@Longitude float ,
@DateReceived datetime ,
@Acknowledege int ,
@AcknowledegeDate datetime



AS
 
begin
IF EXISTS(SELECT * FROM Users WHERE Username = @userauthentivation and Password = @passwordauthentication)
begin
insert into IncomingAlarms(RadioID,Company_ID,AlarmType,Latitude,Longitude,DateReceived,Acknowledege,AcknowledegeDate)
values (@RadioID,@Company_ID,@AlarmType,@Latitude,@Longitude,@DateReceived,@Acknowledege,@AcknowledegeDate);
end
else
begin
print 'User Not Authorized!'
end

end


GO
/****** Object:  StoredProcedure [dbo].[IncomingAlarms_Select]    Script Date: 4/10/2018 3:55:36 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IncomingAlarms_Select]
@userauthentivation  nvarchar(50)    ,
@passwordauthentication nvarchar(50),
@userid int,
@RadioID int


as 
begin
IF EXISTS(SELECT * FROM Users WHERE Username = @userauthentivation and Password = @passwordauthentication)
IF EXISTS(SELECT * FROM Company WHERE RadioID = @RadioID and U_id = @userid)
begin
--declare @Result int;
--declare @virtualtabel as table (results int)
--INSERT INTO @virtualtabel
--EXECUTE @Result = u_SelectIDsByRadioNumber  @RadioID;
select * from IncomingAlarms where RadioID = @RadioID ;
end

else
begin
print 'Not Exist!'
end
else
begin
print 'User Not Authorized!'
end
end





GO
/****** Object:  StoredProcedure [dbo].[IncomingAlarms_Update]    Script Date: 4/10/2018 3:55:36 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IncomingAlarms_Update]

@userauthentivation  nvarchar(50)    ,
@passwordauthentication nvarchar(50),
@ID int,
@RadioID  int,
@Company_ID int,
@AlarmType nvarchar(50),
@Latitude float ,
@Longitude float ,
@DateReceived datetime ,
@Acknowledege int ,
@AcknowledegeDate datetime

AS
 
begin
IF EXISTS(SELECT * FROM Users WHERE Username = @userauthentivation and Password = @passwordauthentication)
begin

update IncomingAlarms
set RadioID =@RadioID,
Company_ID=@Company_ID,
AlarmType = @AlarmType,
Latitude =@Latitude ,
Longitude =@Longitude ,
DateReceived =@DateReceived ,
Acknowledege =@Acknowledege ,
AcknowledegeDate =@AcknowledegeDate
where ID = @ID;
end
else
begin
print 'User Not Authorized!'
end
end






GO
/****** Object:  StoredProcedure [dbo].[User_Delete]    Script Date: 4/10/2018 3:55:36 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_Delete]

@userauthentivation  nvarchar(50)    ,
@passwordauthentication nvarchar(50),
@userid int

as 
begin
IF EXISTS(SELECT * FROM Users WHERE Username = @userauthentivation and Password = @passwordauthentication)
begin



/*CompanyDetails*/
IF EXISTS(SELECT * FROM Company WHERE U_id = @userid)
begin
declare @Result_One int;
declare @virtualtabel_1 as table (results int)
INSERT INTO @virtualtabel_1
EXECUTE @Result_One = u_SelectRadioIDsIdByUId @userid;
delete from IncomingAlarms where RadioID in (select * from @virtualtabel_1);
delete from Company where U_id = @userid;
end

/*CompanyDetails_BackUP*/
IF EXISTS(SELECT * FROM CompanyDetails_Backup WHERE U_id = @userid)
begin
declare @Result_two int;
declare @virtualtabel_2 as table (results int)
INSERT INTO @virtualtabel_2
EXECUTE @Result_two = u_SelectRadioIDsBackUPIdByUId @userid;
delete from IncomingAlarms_Backup where RadioID in (select * from @virtualtabel_2);
delete from CompanyDetails_Backup where U_id = @userid;
end

delete from Users where User_id = @userid;
END
END





GO
/****** Object:  StoredProcedure [dbo].[User_Insert]    Script Date: 4/10/2018 3:55:36 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_Insert]

@username nvarchar(50),
@password nvarchar(50),
@privilege int,
@userauthentivation  nvarchar(50)    ,
@passwordauthentication nvarchar(50)

AS

begin
IF (SELECT COUNT(*) FROM Users WHERE Username LIKE @username) = 0
    BEGIN
insert into Users (Username, Password, Privilege)
values (@username, @password ,@privilege);

 Print 'Data now added.'
     END
ELSE
    BEGIN
        Print 'Dah! already exists';
    END
end





GO
/****** Object:  StoredProcedure [dbo].[User_Load_Companies]    Script Date: 4/10/2018 3:55:36 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_Load_Companies]

@userauthentivation  nvarchar(50)    ,
@passwordauthentication nvarchar(50),
@userid int  

as 
begin
IF EXISTS(SELECT * FROM Users WHERE Username = @userauthentivation and Password = @passwordauthentication)
begin
select * from Company  where U_id =@userid;
end
else
begin
print 'User Not Authorized!'
end
end

GO
/****** Object:  StoredProcedure [dbo].[User_Load_IncomingAlarms]    Script Date: 4/10/2018 3:55:36 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_Load_IncomingAlarms]

@userauthentivation  nvarchar(50)    ,
@passwordauthentication nvarchar(50),
@userid int  

as 
begin
IF EXISTS(SELECT * FROM Users WHERE Username = @userauthentivation and Password = @passwordauthentication)
begin
	SELECT        dbo.IncomingAlarms.*, dbo.Company.ID , dbo.Users.User_id
	FROM            dbo.Company INNER JOIN
							 dbo.IncomingAlarms ON dbo.Company.ID = dbo.IncomingAlarms.Company_ID INNER JOIN
							 dbo.Users ON dbo.Company.U_id= dbo.Users.User_id 
	Where User_id=@userid
	order by  IncomingAlarms.DateReceived desc;
end
else
begin
print 'User Not Authorized!'
end
end

GO
/****** Object:  StoredProcedure [dbo].[User_Select]    Script Date: 4/10/2018 3:55:36 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_Select]

@username nvarchar(50),
@password nvarchar(50)


AS
 
BEGIN

SET NOCOUNT ON

IF EXISTS(SELECT * FROM Users WHERE Username = @username AND Password = @password)
 
BEGIN
SELECT  * FROM Users where Username = @username AND Password = @password;
--print 'User Exist'
END
   ELSE
   BEGIN
   print 'User Not Authentication !'
   END	
END














	

GO
/****** Object:  StoredProcedure [dbo].[User_Update]    Script Date: 4/10/2018 3:55:36 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_Update]
@userid int,
@username nvarchar(50),
@password nvarchar(50),
@privilege int,
@userauthentivation  nvarchar(50)    ,
@passwordauthentication nvarchar(50)
as
begin
IF EXISTS(SELECT * FROM Users WHERE Username = @userauthentivation and Password = @passwordauthentication)
begin
update Users
set username = @username,
password = @password,
privilege = @privilege
where User_id = @userid;
end
else
begin
print 'User Not Authorized!'
end
end


GO
/****** Object:  Table [dbo].[Company]    Script Date: 4/10/2018 3:55:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RadioID] [int] NOT NULL,
	[U_id] [int] NOT NULL,
	[CompanyName] [nvarchar](200) NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[ContactPersonName] [nvarchar](1000) NULL,
	[LandLinePhoneNumber] [nvarchar](50) NULL,
	[MobileNumber] [nvarchar](50) NULL,
	[AddressLineOne] [nvarchar](1000) NULL,
	[AddressLineTwo] [nvarchar](1000) NULL,
	[CompanyType] [nvarchar](100) NULL,
	[SystemCheck] [int] NULL,
	[SystemCheckedDate] [datetime] NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [CompanyName_UQ] UNIQUE NONCLUSTERED 
(
	[CompanyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [CompanyRadioID_UQ] UNIQUE NONCLUSTERED 
(
	[RadioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Company_Backup]    Script Date: 4/10/2018 3:55:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Company_Backup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RadioID] [int] NOT NULL,
	[U_id] [int] NOT NULL,
	[CompanyName] [nvarchar](1000) NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[ContactPersonName] [nvarchar](1000) NOT NULL,
	[LandLinePhoneNumber] [nvarchar](50) NULL,
	[MobileNumber] [nvarchar](50) NOT NULL,
	[AddressLineOne] [nvarchar](1000) NOT NULL,
	[AddressLineTwo] [nvarchar](1000) NOT NULL,
	[CompanyType] [varchar](50) NULL,
	[SystemCheck] [int] NULL,
	[SystemCheckedDate] [datetime] NULL,
 CONSTRAINT [PK_CompanyDetails_Backup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IncomingAlarms]    Script Date: 4/10/2018 3:55:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncomingAlarms](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_ID] [int] NOT NULL,
	[RadioID] [int] NOT NULL,
	[AlarmType] [nvarchar](50) NOT NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[DateReceived] [datetime2](7) NULL,
	[Acknowledege] [int] NULL,
	[AcknowledegeDate] [datetime2](7) NULL,
 CONSTRAINT [PK_IncomingAlarms] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IncomingAlarms_Backup]    Script Date: 4/10/2018 3:55:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncomingAlarms_Backup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyDetailsBackUP_ID] [int] NOT NULL,
	[RadioID] [int] NOT NULL,
	[AlarmType] [nvarchar](50) NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[DateReceived] [datetime] NULL,
	[Acknowledege] [int] NOT NULL,
	[AcknowledegeDate] [datetime] NULL,
 CONSTRAINT [PK_IncomingAlarms_Backup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/10/2018 3:55:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Privilege] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Users_CompanyDetails] FOREIGN KEY([U_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Users_CompanyDetails]
GO
ALTER TABLE [dbo].[Company_Backup]  WITH CHECK ADD  CONSTRAINT [FK_Users_CompanyDetails_Backup] FOREIGN KEY([U_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[Company_Backup] CHECK CONSTRAINT [FK_Users_CompanyDetails_Backup]
GO
ALTER TABLE [dbo].[IncomingAlarms]  WITH CHECK ADD  CONSTRAINT [FK_IncomingAlarms_IncomingAlarms] FOREIGN KEY([Company_ID])
REFERENCES [dbo].[Company] ([ID])
GO
ALTER TABLE [dbo].[IncomingAlarms] CHECK CONSTRAINT [FK_IncomingAlarms_IncomingAlarms]
GO
ALTER TABLE [dbo].[IncomingAlarms_Backup]  WITH CHECK ADD  CONSTRAINT [Radio_FK] FOREIGN KEY([CompanyDetailsBackUP_ID])
REFERENCES [dbo].[Company_Backup] ([ID])
GO
ALTER TABLE [dbo].[IncomingAlarms_Backup] CHECK CONSTRAINT [Radio_FK]
GO

Use [Remote_Alarms_Database]
Go
Insert into [Users](Username,Password,Privilege) values ('admin','admin' ,'1')
Go
USE [master]
GO
